<h1>Admin Dashboard</h1>
<section id="admin-orders-overview">
  <h2>Orders Overview</h2>
  <table>
    <tr>
      <th>User</th>
      <th>Order ID</th>
      <th>Date Created</th>
    </tr>
    <% unless @orders.empty? %>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to User.find(order.user_id).name %></td>
          <td><%= order.id %></td>
          <td><%= order.created_at.strftime("%m/%d/%y") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</section>
